<!--CMPS3141-HCI - AS3-23S1
Collaborators: Cahlil Tillett
Date: Sept.22.23
-->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Expenses</title>
	<script src="https://mavue.mavo.io/mavue.js" type="module"></script>
	<script src="https://mavue.mavo.io/ma-data/ma-data.js" type="module"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body mv-app mv-storage="local" class="mv-autoedit" mv-init="data.json">
	<div id="app">
		<v-app data='{"expenses":[]}'>
		<ma-data v-model="expenses" src="https://github.com/UB-CMPS3141/cmps3141-as3-css-app-23s1-thats-insane/expenses/data.json"></ma-data>
		<section class="expense-management">
			<h2>Expense Management</h2>
				<form name="myForm" action="" method="GET">
					<div class="card">
						<label for="title">Description:</label>
							<input type="text" id="title" name="title" required>
					</div><div class="card">
						<label for="expenseType">Type Of Expense:</label>
							<select id="expenseType" name="expenseType">
								<option value="Personal">Personal Expense</option>
								<option value="Joint">Joint Expense</option>
							</select>
					</div><div class="card">
						<label for="purchaser">Purchaser:</label>
							<select id="purchaser" name="purchaser" required>
								<option value="Neo">Neo</option>
								<option value="Trinity">Trinity</option>
							</select>
					</div><div class="card">
						<label for="card">Card:</label>
							<select id="card" name="card" required>
								<option value="Neo's Card">Neo's Card</option>
								<option value="Trinity Card">Trinity's Card</option>
								<option value="Joint Card">Joint Card</option>
							</select>
					</div><div class="card">
						<label for="amount">Amount:</label>
							<input type="number" id="amount" name="amount" step="1.00" min="0.00" placeholder="Enter amount paid." required>
					</div><div class="card">
						<label for="currency">Currency:</label>
							<select id="currency" name="currency" required>
								<option value="BZD">BZD</option>
								<option value="MXN">MXN</option>
								<option value="GTQ">GTQ</option>
							</select>
					</div><div class="card">
						<input type="submit" value="Add Transaction" onClick="addExpense(this.form)">
					</div>
				</form>
		</section>
		<section class="transaction-history" v-cloak>
			<h2>Transaction History</h2>
			<table><tr>
				<th>Name</th>
				<th>Type Of Expense</th>
				<th>Purchaser</th>
				<th>Card</th>
				<th>Amount</th>
			</tr><tr v-for="expense in expenses">
				<td>{{expense.title}}</td>
				<td>{{expense.expenseType}}</td>
				<td>{{expense.purchaser}}</td>
				<td>{{expense.card}}</td>
				<td>${{expense.amount}} {{expense.currency}}</td>
			</tr></table>
			</section>
			<div>
				<h3>Debt Summmary</h3>
				<p>Total Neo Owes: ${{neoOwes - trinityOwes}} BZD<br>Total Trinity Owes: ${{trinityOwes - neoOwes}} BZD</p>
			</div>
		</v-app>
	</div>
	<script src="index.js" type="module"></script>
</body>
</html>